<div class="page {% if not page.is_leaf %}parent{% endif %}" id="page-{{ page.id }}" {% if page.next_page_id %}data--next="page-{{ page.next_page_id }}"{% endif %} {% if page.prev_page_id %}data--prev="page-{{ page.prev_page_id }}"{% endif %} {% if not page.is_root %}style="display: none;"{% endif %}>

    <div class="page-head">
        {% if page.is_root %}
            <label class="title">Root Page</label>
        {% elif page.is_leaf %}
            <label class="title">Leaf Page</label>
        {% else %}
            <label class="title">Parent Page</label>
        {% endif %}

        <ul class="page-data">
            <li><label>Page block number: </label>{{ page.id }}</li>
            <li><label>Page level: </label>{{ page.level }}</li>
            <li><label>Page high key: </label>{{ page.high_key }}</li>
        </ul>
    </div>

    <div class="items" style="display: none;">
        <label class="title">Items</label>
        {% for item in page.items %}
            <div class="item" {% if item.child %}data--child="page-{{ item.child.id }}"{% endif %}>
                <ul class="item-content">
                    <li><label>Value: </label>{% if item.value %}{{ item.value }}{% else %}&lt;begin&gt;{% endif %}</li>
                    {% if page.is_leaf %}
                        <li><label>Pointer: </label>{{ item.pointer }}</li>
                        {% if item.obj_id %}
                            <li><label>Row Primary Key: </label>{{ item.obj_id }}</li>
                        {% else %}
                            <li><label>Row deleted: </label> still in page until vacuum</li>
                        {% endif %}
                    {% endif %}
                </ul>
            </div>
        {% endfor %}
    </div>
</div>
